
.idea/.name
.idea/dictionaries/kapil.xml
.idea/encodings.xml
.idea/fileColors.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Practice-Testing.iml
.idea/workspace.xml
.idea/vcs.xml
